:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* 모든 태그 */
* {
  padding: 0;
  margin: 0;
  /* box-sizing에 padding, margin이 값에 포함 */
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .log {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  /* 플레이어를 위에 고정 시키고 싶을때 (스크롤을 내려도) */
  position: sticky;
  /* 위에 포지션 스티키만 쓰면 고정이 안된다, 어디에 고정할지 정해줘야함 */
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  /* width, height을 100%로 하면 화면창에 가득찬다 */
  width: 100%;
  height: 100%;
  /* 그치만 위에서 멈추면 플레이어가 창을 계속 뒤덮는다
  그래서 max-width로 제한 값을 설정*/
  max-width: 1000px;
}
